#inmobiliaria {
    font-family: 'Montserrat';
}

#inmobiliaria .carouselImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#inmobiliaria .carousel-inner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 50 !important;
    background: rgba(25, 59, 89, 0.4);
}

#inmobiliaria .carousel-caption {
    z-index: 100 !important;
}

#inmobiliaria .col-lg-8 {
    border-bottom: 1px solid #E5E5E5;
    border-left: 1px solid #E5E5E5;
}

#inmobiliaria .note {
    background: rgb(25, 53, 89);
    background: linear-gradient(56deg, rgba(25, 53, 89, 1) 0%, rgba(25, 53, 89, 1) 9%, rgba(160, 178, 193, 1) 100%);
    color: #fff;
}

#inmobiliaria .col-lg-4 {
    margin: auto !important;
}

#inmobiliaria .col-lg-4 button {
    background: #193559;
    color: #fff;
    border-color: #193559;
    border-radius: 50px;
    font-weight: 500;
}

#inmobiliaria .col-lg-4 button:hover {
    background: #5f8cb4;
    border-color: #5f8cb4;
    color: #fff;
    font-weight: 500;
    transform: translateY(-2px);
}

.galeria .modal-content,
.galeria .modal-content button {
    background: #536B86;
    color: #fff;
}

.galeria img {
    margin: auto !important;
}

@media only screen and (min-width: 200px) {
    #inmobiliaria .carousel-caption h1 {
        letter-spacing: 0.5rem;
        font-weight: 400;
        font-size: 1.5rem;
    }
    #inmobiliaria p,
    li {
        font-size: 0.7rem;
        line-height: 1.2rem;
    }
    #inmobiliaria .note h6 {
        font-size: 0.9rem;
    }
    #inmobiliaria .note p {
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 520px) {
    #inmobiliaria .carousel-caption h1 {
        letter-spacing: 0.8rem;
        font-weight: 500;
        font-size: 1.8rem;
    }
    #inmobiliaria p,
    li {
        font-size: 0.8rem;
    }
    #inmobiliaria .note h6 {
        font-size: 1.2rem;
    }
    #inmobiliaria .note p {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 720px) {
    #inmobiliaria .carousel-caption h1 {
        letter-spacing: 1.8rem;
        font-weight: 600;
        font-size: 2.8rem;
    }
    #inmobiliaria p,
    li {
        font-size: 1rem;
        line-height: 1.7rem;
    }
    #inmobiliaria .note h6 {
        font-size: 1.6rem;
    }
    #inmobiliaria .note p {
        font-size: 1.5rem;
    }
}