#navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1030;
}

#navbar #nav {
    background-color: #193559 !important;
    font-size: 0.8rem;
}

#navbar .nav .nav-link {
    color: #fff !important;
    font-family: 'Montserrat';
    font-size: 0.8rem;
}

#navbar .nav .nav-link:hover {
    color: #fff !important;
}

#navbar .nav span {
    width: 0.4rem;
}

#navbar .navbar {
    background-color: #fff !important;
}

#navbar .navbar img {
    width: 10rem;
    height: auto;
}

#navbar .navbar .nav-link {
    color: #193559 !important;
    font-family: 'Montserrat';
    font-weight: 600;
}

#navbar .navbar .nav-link:hover {
    color: #517ea6 !important;
}

#navbar .navbar li:hover {
    transform: translateY(-2px);
}

#navbar .dropdown-menu {
    border-color: #fff;
}

#navbar .dropdown-item {
    color: #193559 !important;
}

#navbar .dropdown-item:hover {
    background-color: #193559 !important;
    color: #fff !important;
}