#planta {
    font-family: 'Montserrat';
}

#planta .carouselImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#planta .carousel-inner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 50 !important;
    background: rgba(25, 59, 89, 0.4);
}

#planta .carousel-caption {
    z-index: 100 !important;
}

#planta .note {
    background: rgb(25, 53, 89);
    background: linear-gradient(56deg, rgba(25, 53, 89, 1) 0%, rgba(25, 53, 89, 1) 9%, rgba(160, 178, 193, 1) 100%);
    color: #fff;
}

#planta .col-lg-12 {
    border-bottom: 1px solid #E5E5E5;
    border-left: 1px solid #E5E5E5;
}

#planta .col-lg-12 {
    border-bottom: 1px solid #E5E5E5;
    border-left: 1px solid #E5E5E5;
}

#planta .plus {
    border-top: 1px solid #536B86;
    border-bottom: 1px solid #536B86;
    color: #193559;
    font-weight: 500;
}

@media only screen and (min-width: 200px) {
    #planta .carousel-caption h1 {
        letter-spacing: 0.5rem;
        font-weight: 400;
        font-size: 1.5rem;
    }
    #planta p,
    li {
        font-size: 0.8rem;
        line-height: 1.4rem;
    }
    #planta .note h6 {
        font-size: 0.9rem;
    }
    #planta .note p {
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 520px) {
    #planta .carousel-caption h1 {
        letter-spacing: 0.8rem;
        font-weight: 500;
        font-size: 1.8rem;
    }
    #planta p,
    li {
        font-size: 0.8rem;
    }
    #planta .note h6 {
        font-size: 1.2rem;
    }
    #planta .note p {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 720px) {
    #planta .carousel-caption h1 {
        letter-spacing: 1.5rem;
        font-weight: 600;
        font-size: 2.8rem;
    }
    #planta p,
    li {
        font-size: 1rem;
        line-height: 1.7rem;
    }
    #planta .note h6 {
        font-size: 1.6rem;
    }
    #planta .note p {
        font-size: 1.5rem;
    }
}